.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 72px;
    background-color: white;
    z-index: 2;
    padding-top: 5px;
}

.sidebar-link{
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sidebar-link:hover{
    background-color: rgba(238, 237, 237);
    cursor: pointer;
}

.sidebar-icons{
    height: 24px;
}

.sidebar-link div{
    font-family: Roboto , Arial;
    font-size: 10px;
    margin-top: 6px;
}