
.search-box {
    display: block;
}

.thumbnail{
    width: 100%;
}

.thumbnail-div{
    position: relative;
}

.timestamp{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.855);
    font-family: Roboto , Arial;
    color: white;
    bottom: 8px;
    right: 5px;
    padding: 4px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 10%;
}

.video-auther , .video-stats{
    color: rgba(95, 95, 95, 0.899);
    font-size: 12px;
}

.video-title {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
}


.pfp{
    width: 35px;
    border-radius: 50%;
}

.vid-compts{
    margin-top: 7px;
    display: grid; 
    grid-template-columns: 50px 1fr;
    line-height: 18px;
}

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width : 750px) {
        .video-grid{
        grid-template-columns:1fr 1fr;
    }
}
